{% extends "base.html" %}

<title>{% block title %}Change Status{% endblock %}</title>

{% block content %}


    <div class="form">
        <form action="/change/{{orderdb.id}}" method="POST">
            <label for="status">Status</label>
                <select id="status" name="status">
                    <option value="kitchen">Send To Kitchen</option>
                    <option value="ready">Ready</option>
                    <option value="delivered">Delivered</option>
                </select>
            <input type="submit" value="Confirm">
        </form>
    </div>

{% endblock %}